[submodule "git-encrypt"]
	path = git-encrypt
	url = https://github.com/shadowhand/git-encrypt
[submodule "nix/nixpkgs"]
	path = nix/nixpkgs
	url = https://github.com/offlinehacker/nixpkgs.git
[submodule "nix/nixos"]
	path = nix/nixos
	url = https://github.com/NixOS/nixos.git
